input {
  font-size: 1.5rem;
  padding: .2em .5em;
}

button {
  font-size: 01.2rem;
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  margin: .2em;
  padding: .2em .8em;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  display: inline-block;
}

 button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

 label {
   display: inline-block;
   font-size: 1rem;
   width: 100px;
 }

 .warning {
   color: red;
 }
